# Server
SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
SHOPIFY_ADMIN_API_KEY=
SHOPIFY_ADMIN_API_VERSION=2025-01
GIG_API_KEY=
GIG_API_BASE_URL=https://api.giglogistics.com
SENTRY_DSN=

# Client
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=
